@page "/"

<PageTitle>Home</PageTitle>

<style>
    .header {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
</style>


<div class="header">
    <img src="logo/logo.png" alt="ControlLab Logo" class="logo" />
    <h1 style="font-style: italic;">ControlLab</h1>
</div>

<br />

<h3 style="font-style: italic;">Bienvenido a la plataforma 👋</h3>
